body{
    background-color: black !important;;
}


* {
  box-sizing: border-box;
}




.siteContainer {
	margin-top: 0px;
	margin-left: 22%;
	margin-right: 22%;
	margin-bottom: 10px;
	background: #f3f3f3;
}

@media screen and (max-width: 1440px){
	.siteContainer {
		margin-top: 0px;
		margin-left: 8%;
		margin-right: 8%;
		margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px){
	.siteContainer {
		margin-top: 0px;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 10px;
  }
}


object {
    width: 100%;
/*	position: absolute;*/
	margin-left: -5%;
}


.about_img {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;

}

.showreel {
	margin-top: 50px;
/*	margin: 20px;*/
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 60px;
  padding: 15px;
  width: auto;
}

a:link {
  font-family: 'GothamLight';
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: cadetblue;
  background-color: transparent;
  text-decoration: underline;
}

#footerLogo {
	width: 20%;
}
.sitefooter{
	margin-top: 80px;
}






