@font-face {
  font-family: "GothamBlack";
  src: url('https://github.com/m-myopia/m-myopia.github.io/raw/master/fonts/SVN-Gotham%20Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
	
}

@font-face {
  font-family: "GothamLight";
  src: url('https://github.com/m-myopia/m-myopia.github.io/raw/master/fonts/SVN-Gotham%20Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

.BG_Video { position:relative; }
.BG_Video video {
	width: 100%;
  	height: auto;
	filter:brightness(50%);
    position:relative;
    z-index:0;
}
.overlayText {
    position:absolute;
    top:30%;
    left:50%;
	transform: translate(-50%, -50%);
    z-index:1;
	color:white;
}

.overlayTextName {
	font-family: "GothamBlack" !important;
/*
	font-size: 2.5vw;	
	line-height: 0.8vw;
*/
}

.overlayTextTitle {
	font-family: "GothamLight" !important;
	//font-size: 1vw;
}
