@font-face {
  font-family: "GothamBlack";
  src: url('https://github.com/m-myopia/m-myopia.github.io/raw/master/fonts/SVN-Gotham%20Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
	
}

@font-face {
  font-family: "GothamLight";
  src: url('https://github.com/m-myopia/m-myopia.github.io/raw/master/fonts/SVN-Gotham%20Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

.BG_Video { position:relative; }
.BG_Video video {
	background: black;
	width: 100%;
  	height: auto;
	filter:brightness(10%);
    position:relative;
    z-index:0;
}

#animContainer {
  	width: 100%;
	height: 100%;
	position:absolute;
    top:30%;
    left:50%;
	transform: translate(-50%, -50%);
    z-index:1;
}

